.home-right {
  display: flex;
  gap: 120px;
  justify-content: center;
  align-items: center;
}

.home-right .notes h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 37px;
  color: #181818;
  margin-bottom: 24px;
}

.home-right .notes p {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #000c2d;
}

.home-right .notes .btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #2f70fe;
  margin-top: 20px;
  border: none;
  background: #fff;
  cursor: pointer;
}

.home-right .notes .btn span {
    transition: all .2s ease-in-out;
}

.home-right .notes .btn:hover span {
    margin-left: 10px;
}