.big-box {
    width: 360px;
    height: 414px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #fff;
}

.big-box .big-image img {
    height: 216px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
}

.big-box .big-info {
    padding: 20px 15px;
}

.big-box .big-info h2 {
    color: #1f1f1f;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: .4px;
    padding: 12px 0;
}

.big-box .big-info p {
    color: #999;
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 1.8;
    font-weight: 100;
    padding-bottom: 15px;
}